* , *::after, *::before {
  box-sizing: border-box;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.5;
}

.logo {
  font-weight: bold;
}

.nav--list {
  display: flex;
  justify-content: space-between;
}

.nav--link {
  font-size: 1rem;
}

.nav--icon {
  height: 2em;
  width: 2em;
  color: white;
  margin-left: 3em;
}

.header--container {
  display: flex;
  justify-content: space-between;
  background-color:rgb(229, 231, 235);
  padding: 1em;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: purple;
}

.form--page, .vendor--signup--container, .login--container {
  display: flex;
  height: 90vh;
}

.add--item--form, .login--form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin:  auto;
  font-size: 1.3rem;
}

.add--item--form > label {
  margin-bottom: 0.5em;
}

.add--item--form > textarea {
  margin-bottom: 1em;
  font-size: 1rem;
  padding: 0.5em 1em;
}

.add--item--form > input {
  margin-bottom: 1em;
  font-size: 1rem;
  padding: 0.5em 1em;
}

.add--item--form > input:focus {
  border: none;
}

.add--item--form > button, .login--form > button {
  padding: 0.8em 1em;
  border: none;
  color: white;
  background-color: darkcyan;
  font-weight: bold;
  font-size: 1.2rem;
}

.product--container {
  width: 90%;
  padding: .5em;
  margin: 0 auto;
  margin-bottom: 4em;
  padding-bottom: 4em;
  border-bottom: 1px solid #53c2be;
}

.wine--name {
  font-size: 1.4rem;
  color: rgb(141, 64, 141);
}

.wine--image {
  width: 100%;
}

.wine--price {
  background-color: #53c2be;
  color: white;
  padding: 0.5em 1em;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.2rem;
  width: 25%;
  text-align: center;
}

.wine--description {
  margin-bottom: 2em;
}

.add--to--cart {
  background-color: #53c2be;
  color: white;
  padding: 0.5em 1em;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.2rem;
  width: 25%;
  border-radius: 1em;
}

.cart--container {
  padding-top: 2em;
  min-height: 70vh;
}

.cart--item--container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: center;
  margin-bottom: 2em;
  border-bottom: 1px solid #53c2be;
}

.left-side {
  width: 60%;
}

.wine--in--cart--image {
  width: 10em;
}

.wine--in--cart--name {
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.wine--in--cart--price {
  font-size: 1.5rem;
  
}

.remove--wine--from--cart--link {
  font-size: 1.2rem;
  background-color: #53c2be;
  padding: 0.2em 0.5em;
  margin-bottom: auto;
  color: white;
}

.total--wrapper {
  width: 90%;
  margin: 0 auto;
}

.total--cost--container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #53c2be;
  margin-bottom: 4em;
}

.total--cost, .total--cost--text {
  font-size: 1.5rem;
  color: #254746;
}

.total--cost--text {
  width: 60%;
}

.complete--order {
  text-align: center;
  display: block;
  padding: 0.5em 1em;
  background-color: rgb(141, 64, 141);
  color: white;
  border: 1px solid rgb(141, 64, 141);
  margin-bottom: 2em;
  font-weight: 600;
}



.login--form  {
  margin: auto;
}

.login--form  label {
  margin-bottom: 0.5 em;
}


.login--form > label {
  margin-bottom: 1em;
}

.dealer--email, .dealer--password  {
  margin-bottom: 1em;
  font-size: 1rem;
  padding: 0.5em 1em;
}

.dealer--password {
  margin-bottom: 2em;
}